/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/*
Some modifications by Jordi Burguet-Castell
All the merit is from the people at Free CSS Templates and all the
blame is on me :-)
*/

body {
  margin: 0;
  padding: 0;
  background: #FFF url(images/head.jpeg) repeat-x;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #666;
}

input, textarea, select {
  font: normal 1em Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-weight: normal;
  color: #6C0;
}

h1 { letter-spacing: -1px; font-size: 2.6em; }

h2 { font-size: 1.8em; }

blockquote { font-style: italic; }

a { color: #6C0; }

img { border: none; }

.pic { box-shadow: 5px 5px 15px #888; }


/* Header */

#header {
  width: 920px;
  height: 120px;
  margin: 0 auto;
}


/* Logo */

#logo { float: left; }

#logo h1, #logo h2 { margin: 0; }

#logo h1 {
  padding-top: 52px;
  font-size: 3em;
  color: #554D49;
}

#logo h1 a { color: #554D49; }

#logo h2 {
  margin-top: -5px;
  padding-left: 1px;
  letter-spacing: -1px;
  font-size: 1.8em;
  color: #7F7772;
}

#logo h2 a { color: #7F7772; }

#logo a { text-decoration: none; }


/* Menu */

#menu { float: right; }

#menu ul {
  margin: 0;
  padding: 40px 0 0 0;
  list-style: none; }

#menu li { display: inline; }

#menu a {
  display: block;
  float: left;
  width: 130px;
  height: 60px;
  padding-top: 30px;
  background: #FFFFFF url(images/tab.jpeg) no-repeat;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 1.6em;
  color: #fff;
}


/* Page */

#page {
/*  width: 85%; */
  width: 920px;
  margin: 0 auto;
  padding-top: 20px;
}


/* Footer */

#footer {
/* width: 85%; */
  width: 920px;
  height: 100px;
  margin: 0 auto;
  background: url(images/foot.png) no-repeat;
}

#footer p {
  margin: 0;
  padding: 15px;
  font-size: 80%;
}

#legal { float: left; }

#links { float: right; }

#bigmap {
  position: absolute;
  left: 0;
  width: 100vw;
  text-align: center;
  background-image: url(images/bg.png);
}

#minimap { text-align: center; }
